/* Css files add styling rules to your content */

body {
    margin: 0em;
    font-family: "Noto Sans", sans-serif;
    background-color: #010f1e;
  }
  
  h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
    font-family: "Fjalla One", sans-serif;
  }
  
  .bold{
    font-weight: bold;
  }
  
  .cover {
    height: 400px;
    background-image: url(https://assets.bedu.org/images/5-lenguajes-programaci%C3%B3n.jpg?w=1200);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }
  
  .cover-small {
    height: 200px;
    background-blend-mode: normal;
  }

.justify-text{
  text-align: justify;
}

/*:::::Botón subir:::::*/
.btn-scrolltop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: #0033a0;
  color: white;
  border: 1px solid #0033a0;
  border-radius: 100%;
  cursor: pointer;
  transform: scale(0);
  transition: 0.3s;
}

.btn-scrolltop-on {
  transform: scale(1);
}

 /*:::::Pie de Página::::: */
 .foot{
  width: 100%;
  background-color: #010811;
}

.foot .group-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.foot .group-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot .group-1 .box figure img{
  width: 350px;
}

.foot .group-1 .box h2{
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 20px;
}

.foot .group-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

.foot .group-1 .social-media a{
  display:inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.foot .group-1 .social-media a:hover{
  color: aqua;
}

.foot .group-2{
  background-color: #010f1e;
  padding: 15px 10px;
  text-align: center;
  color: #ffffff;
}

.foot .group-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
    .foot .group-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

h1 span {
  position: relative;
  top: 60px;
  left: 10px;
  display: inline-block;
  color: #fff;
  font-family: Verdana;
  font-size: 50px;
  text-shadow: 
    0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 5px 0 #ccc,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(255, 255, 255, 0.4);
    animation: jumpy .9s ease infinite alternate;
}

h1 span:nth-child(2) {animation-delay: .1s;}
h1 span:nth-child(3) {animation-delay: .2s;}
h1 span:nth-child(4) {animation-delay: .3s;}
h1 span:nth-child(5) {animation-delay: .4s;}
h1 span:nth-child(6) {animation-delay: .5s;}
h1 span:nth-child(7) {animation-delay: .6s;}
h1 span:nth-child(8) {animation-delay: .7s;}
h1 span:nth-child(9) {animation-delay: .8s;}
h1 span:nth-child(10) {animation-delay: .9s;}
h1 span:nth-child(11) {animation-delay: 1s;}
h1 span:nth-child(12) {animation-delay: 1.1s;}
h1 span:nth-child(13) {animation-delay: 1.2s;}
h1 span:nth-child(14) {animation-delay: 1.3s;}

@keyframes jumpy {
  100% {
    top: -20px;
  }
}

.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #fff;
  display: grid;
  place-items: center;
  transition: opacity .25s, visibility 1s;
}

.fade {
  opacity: 0;
  visibility: hidden;
}
